fastapi
uvicorn

python-dotenv
pydantic-settings

sqlalchemy
psycopg2-binary
psycopg[binary,pool]
alembic

python-jose
passlib
pwdlib
python-multipart
email-validator
PyJWT

groq

langchain
langgraph
langchain-groq
langgraph-checkpoint-postgres
langchain_Huggingface
langchain_qdrant
langchain-text-splitters

qdrant-client
sentence-transformers

pypdf
python-docx
httpx