fastapi
uvicorn
python-dotenv
pydantic-settings

sqlalchemy
psycopg2-binary
alembic

python-jose
passlib
pwdlib

python-multipart

email-validator

groq

langchain
langgraph
langchain_groq

qdrant-client

sentence-transformers

pypdf

python-docx

httpx

PyJWT